.userinput1{
   margin: 100px;
   text-align: center;
}

.upload1{
    text-align: center;
    margin-left: 100px;
}
.img{
    margin: 100px;
   
    text-align: center;
}

#images{
    height: 500px;
    width: 500px;
    border: 2px solid black;
}